h1 {
	font-size: 36px;
	font-weight: bold;
	color: #000000;
}


h2 {
	font-size: 32px;
	font-weight: bold;
	color: #000000;
}


p {
	font-size: 24px;
	text-indent: 1.5em;
	text-align: justify;
}


a {
    font-size: 28px;
}


table {
	margin: auto;
}


td {
	text-align: center;
	vertical-align: center;
}

form {
  position: center;

  width  : 1000px;
  margin : auto;

  background: #FFFFFF;
}


label, input, legend, fieldset {
	font-weight: bold;
    font-size: 24px;
}


ul {
    list-style-type: none;
}
